h1 {color: #8B0000}
body
{
	background: #FF4500;
}
.myprimary1 
{
	
	background: #FF8C00;
	color: #8A0000
}
.myprimary2 
{
	
	background: #FFA07A0;
	color: #8A0000
}
.myprimary3 
{
	
	background: #E9967A;
	color: #8A0000
}
.myprimary4 
{
	
	background: #FA8072;
	color: #8A0000
}
.myprimary5 
{
	
	background: #CD5C5C;
	color: #8A0000
}
img {
width: 50%}